.Home {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: flex-end;
    padding: 12.5px 27.5px;
    align-items: center;
}

.header a {
    margin-right: 17px;
    text-decoration: inherit;
    line-height: 24px;
    color: rgba(0,0,0,0.9);
    font-size: 14.5px;
}

.header a:hover {
    text-decoration: underline;
}

.menu {
    display: flex;
    align-items: center;
    min-width: 9vw;
    justify-content: space-between;
}

.menu > .MuiSvgIcon-root {
    margin-right: 15px;
}

.main {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 140px;
}

.main > img {
    object-fit: contain;
    height: 90px;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding-left: 27px;
    align-items: center;
    height: 40px;
    min-width: 400px;
    border-top: 1px solid #e4e4e4;
}

.footer a,.region a {
    margin-right: 25px;
    text-decoration: inherit;
    line-height: 24px;
    color: #5f6368;
    font-size: 14.5px;
}

.footer a:hover,.region a:hover {
    text-decoration: underline;
}

.region {
    display: flex;
    background-color: #f2f2f2;
    padding-left: 27px;
    padding-top: 10px;
    height: 40px;
    min-width: 400px;
    border-top: 1px solid #e4e4e4;
}

.invisible {
    display: none;
}

@media only screen and (max-width: 640px) {
    .footer {
        display: none;
    }
    
    .invisible {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .invisible_right {
        border-top: 1px solid #e4e4e4;
    }

    .invisible_left,.invisible_right {
        width: 100%;
        padding: 8px;
        background-color: #f2f2f2;
    }

    .invisible_left a,.invisible_right a {
        margin-right: 20px;
        text-decoration: underline;
        text-decoration: inherit;
        line-height: 24px;
        color: #5f6368;
        font-size: 14.5px;
    }
}
