.searchLogo {
    object-fit: contain;
    height: 50px;
    margin-right: 50px;
}

.searchHeader {
    position: sticky;
    display: flex;
    background-color: white;
    z-index: 100;
    align-items: flex-start;
    padding: 30px;
    border-bottom: 1px solid lightgray;
}

.searchBody > .Search > .textbox {
    margin-top: 0;
    width: unset;
    margin: unset;
    max-width: unset;
}

.searchOptions {
    display: flex;
    align-items: center;
    color: grey;
    margin-top: 40px;
    margin-bottom: -20px;
}

.searchOptions a,.optionsRight {
    text-decoration: none;
    color: gray;
}

.optionsLeft,.optionsRight {
    display: flex;
}

.optionsRight {
    margin-left: 80px;
}

.option {
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-size: 13px;
    line-height: 16px;
}

.option a {
    margin-left: 5px;
}