.textbox {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    height: 50px;
    padding: 10px 20px;
    border-radius: 1000px;
    margin: 0 auto;
    width: 90vw;
    max-width: 560px;
}

.textbox > input {
 flex: 1;
 padding: 10px 20px;
 font-size: 15px;
 border: none;
}

.textbox > input:focus {
    outline-width: 0;
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.buttons button {
    margin: 5px;
    padding: 7.5px 15px;
    background-color: #f8f8f8;
    border: 1px white solid;
    text-transform: inherit;
    color: #5f6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    border-radius: 5px;
    min-width: 54px;
}

.buttons button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

.hidden {
    display: none;
}

.language {
    margin : 0 auto;
    padding: 10px;
    font-size: 13px;
    text-align: center;
}

.offer {
    display: inline-block;
}

.language a {
    margin: 0 6px;
    text-decoration: none;
    color: #1a0dab;
    line-height: 28px;
    display: inline-block;
}

.language a:hover {
    text-decoration: underline;
}

.language a:visited {
    color: #609;
}

@media only screen and (max-width: 640px) {
    .language a {
        margin: 0 4px;
    }
}